<div class="event-list-page">
  <div class="event-list-header">
    <button *ngIf="isAdmin" (click)="navigateToAddEvent()" class="add-event-button">
      + Esemény hozzáadása
    </button>
  </div>

  <div class="event-list-container">
    <div class="event-card" *ngFor="let event of events" (click)="viewDetails(event._id)">
      <h2>{{ event.title }}</h2>
      <p>Dátum: {{ event.date | date }}</p>
      <p>Helyszín: {{ event.location }}</p>
      <p>VIP jegyár: {{ event.tickets.vip }} Ft</p>
      <p>Általános jegyár: {{ event.tickets.general }} Ft</p>
      <p>Kiemelt jegyár: {{ event.tickets.premium }} Ft</p>
      <p>Elérhető helyek: {{ event.seats }}</p>
    </div>
  </div>
</div>
