.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    gap: 10px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.login-form .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-form button {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: #D8125B;
    width: 100%;
    color: white;
    padding: 10px;
}

.login-form button:hover {
    background-color: #701537;
}

.login-form button[type="button"] {
    background-color: #D8125B;
}

.login-form button[type="button"]:hover {
    background-color: #701537;
}